//-genetated file
script#AuthModal(type='text/template')
  include AuthModal/AuthModal
script#FailModal(type='text/template')
  include FailModal/FailModal
script#RegistrationModal(type='text/template')
  include RegistrationModal/RegistrationModal
script#RivalModal(type='text/template')
  include RivalModal/RivalModal
script#WinnerModal(type='text/template')
  include WinnerModal/WinnerModal
