//-genetated file
script#AuthModal(type='text/template')
  include AuthModal/AuthModal
script#RegistrationModal(type='text/template')
  include RegistrationModal/RegistrationModal
script#RivalModal(type='text/template')
  include RivalModal/RivalModal
