//- .auth_modal
extends ../Modal/_Modal

block body
  h1 Авторизация
  input(data-js-email type="email" name="email" placeholder="E-mail")
  input(data-js-password type="password" name="password" placeholder="Пароль")
  .buttons_block
    .button(data-js-login) Войти
    .button(data-js-registration) Зарегистрироваться
