extends ../Modal/Modal

block content
  input.email(type="email" name="email" placeholder="E-mail")
  input.password(type="password" name="password" placeholder="Пароль")
  .buttons_block
    .button.login Войти
    .button.registration Зарегистрироваться