//-genetated file
script#FieldItem(type='text/template')
  include FieldItem/FieldItem
script#FieldList(type='text/template')
  include FieldList/FieldList
script#RivalItem(type='text/template')
  include RivalItem/RivalItem
script#RivalList(type='text/template')
  include RivalList/RivalList
