extends ../Modal/Modal

block content
  input.name(type="text" name="name" placeholder="Имя")
  input.email(type="email" name="email" placeholder="E-mail")
  input.password(type="password" name="password" placeholder="Пароль")
  .buttons_block
    .button.back Назад
    .button.registration Зарегистрироваться